<ion-menu class="menu" side="start" menuId="first" contentId="main-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Olá, {{ userData?.user.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="main-menu">
    <div class="macchines">
      <div class="item-menu">
        <ion-text>Opções</ion-text>
      </div>
      <div class="itens-list">
        <div class="item-list" (click)="redirect('list-macchines')">
          <ion-text>Visão Geral</ion-text>
        </div>
      </div> 
    </div>
  </ion-content>
  <ion-footer class="ion-no-border" >
    <div (click)="logout()" style="cursor: pointer;" class="menu-logout-footer">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-text>Sair</ion-text>
    </div>
  </ion-footer>
</ion-menu>